.header .navbar {
	margin-bottom: 0;
	background: #d71149;
}

.no-mt{
	margin-top: 0;
}

.no-mb{
	margin-bottom: 0;
}

.featured-slider img {
	width: 100%;
}

main.content {
	margin-top: 3rem;
}

.btn {
	border-radius: 0;
}

.product-grid-wrapper {
	margin: 2rem 0;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
	color: #fff;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
	color:#FFC107;
}

.site-title {
	font-weight: bold;
	color #fff;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
	color: #FFC107;
}

.u-full-width {
	width: 100%;
}

.footer {
	padding: 1rem;
	text-align: center;
	background: #00BCD4;
	color: #fff;
}

.footer p {
	margin: 0;
}

.action-wrapper {
	display: flex;
}

.action-wrapper .btn-buy, .action-wrapper .btn-cart {
	flex: 1;
}

.flat-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.bottom-info {
	padding: 2rem 0;
	margin-top: 3rem;
	background: #f5f3f3;
}

.cart-item img {
	max-width: 100%;
}

.cancle-cart {
	font-size: 2rem;
}

.cart-item {
    background: #fbfbfb;
    padding: 1rem;
    border: 1px solid #eceaea;
    border-bottom: 2px solid #ddd;
}